<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">  

	<title>Video Upload</title>
</head>
<body>
	<div class="navbar">
		<ul>
			<li><a href="{{url_for('index')}}">Home</a></li>
			<li><a href="{{url_for('about')}}">About</a></li>
			<li><a href="{{url_for('contact')}}">Contact</a></li>
			<li><a href="#">Page 3</a></li>
		</ul>
	</div>

	<div class="file__upload">
	

  <div class="header">
   <p><i class="fa fa-cloud-upload fa-2x"></i><span><span>up</span>load</span></p>   
  </div>
  <form method="post" action="{{url_for('video_upload_process')}}" enctype="multipart/form-data">
    
    <p><input type="file" name="file" autocomplete="off" required style="color:white;"></p>
    
    <input type="submit" id="upload">
  </form>

   
  
 </div>
</body>
</html>
